@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 70%;
  margin: auto;
}
@media screen and (max-width: 1023px) {
  .container {
    max-width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 90%;
    margin: auto;
  }
}
/* End Global Rules */
/* start Header */
header {
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.295);
  position: relative;
  /* height: 72px; */
  z-index: 999;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  user-select: none;
  height: 70px;
  /* font-family: 'Titan One', cursive; */
  
}
@media screen and (max-width: 767px) {
  .logo {
    width: 100%;
    text-align: center;
  }
  .header-content {
    display: flex;
    flex-direction: column;
  }
}
.logo .logo-title {
  text-transform: capitalize;
  font-weight: bolder;
}
.logo .logo-title .link {
  color: var(--main-color);
}
.main-nav {
  position: relative;
}
.links .list {
  display: inline-block;
  padding: 10px;
  line-height: 3;
  cursor: pointer;
  transition: background-color var(--main-transition) ease-in-out;
  -webkit-transition: background-color var(--main-transition) ease-in-out;
  -moz-transition: background-color var(--main-transition) ease-in-out;
  -ms-transition: background-color var(--main-transition) ease-in-out;
  -o-transition: background-color var(--main-transition) ease-in-out;
  position: relative;
}
@media screen and (max-width: 767px) {
  .links {
    text-align: center;
  }
  .links .list {
    line-height: 2;
    padding: 10px;
  }
}
.links .list .link .fa-chevron-down {
  vertical-align: middle;
  padding-left: 10px;
}
.links .list .link::before {
  position: absolute;
  content: " ";
  width: 0%;
  height: 4px;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #1787e0;
  transition: width var(--main-transition) ease-in-out;
  -webkit-transition: width var(--main-transition) ease-in-out;
  -moz-transition: width var(--main-transition) ease-in-out;
  -ms-transition: width var(--main-transition) ease-in-out;
  -o-transition: width var(--main-transition) ease-in-out;
}
.links .list:hover {
  background-color: #ececec47;
}
.links .list:hover .link::before {
  width: 100%;
}
.links .list .link {
  text-transform: capitalize;
  color: #000;
  padding: 0 20px;
  font-size: 1.1rem;
  transition: color var(--main-transition) ease-in-out;
  -webkit-transition: color var(--main-transition) ease-in-out;
  -moz-transition: color var(--main-transition) ease-in-out;
  -ms-transition: color var(--main-transition) ease-in-out;
  -o-transition: color var(--main-transition) ease-in-out;
}
@media screen and (max-width: 480px) {
  .links .list .link {
    font-size: 14px;
    padding: 0px;
  }
}
@media screen and (max-width: 380px) {
  .links .list  {
    padding: 5px;
    line-height: 2.2;
  }
}
.links .list:hover .link {
  color: var(--main-color);
}
.mega-menu {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  position: absolute;
  content: " ";
  width: 70%;
  top: 29%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999;
  padding: 20px 50px;
  border-bottom: 2px solid var(--main-color);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  display: none;
}
.mega-menu.show-mega-menu {
  visibility: visible;
  opacity: 1;
}
.mega-menu .links li {
  position: relative;
  width: 100%;
  padding: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.138);
  transition: width var(--main-transition) ease-in-out;
  -webkit-transition: width var(--main-transition) ease-in-out;
  -moz-transition: width var(--main-transition) ease-in-out;
  -ms-transition: width var(--main-transition) ease-in-out;
  -o-transition: width var(--main-transition) ease-in-out;
  cursor: pointer;
}
.mega-menu .links li:last-child {
  border: unset;
}
.mega-menu .links li::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background-color: #ececec47;
  z-index: 99;
}
.mega-menu .links li:hover::before {
  animation: width .5s ease-in-out  forwards alternate;
  -webkit-animation: width .5s ease-in-out  forwards alternate;
  z-index: -1;
}
@keyframes width {
  100% {
    width: 100%;
  }
}
.mega-menu .links li i,
.mega-menu .links li a {
  color: var(--main-color);
}
.mega-menu .links li i {
  padding-right: 30px;
}
.mega-menu .links li a {
  font-weight: bolder;
}
.mega-image {
  width: 100%;
  /* padding-right: 20px; */
}
@media screen and (max-width: 767px) {
  .mega-menu {
    display: none;
  }
}
/* end Header */

/* start Hero */
.hero {
  width: 100%;
  /* height: 100vh; */
  position: relative;
}
.hero::before {
  position: absolute;
  content: " ";
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  z-index: -1;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform-origin: top left;
}
.hero-content {
  min-height: calc(100vh - 72px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px)  {
  .hero-content  {
    min-height: calc(100vh - 200px);
  }
}
@media screen and (max-width: 1023px) {
  .hero-content  {
    min-height: calc(100vh - 200px);
  }
}
.hero-title {
  font-size: 2rem;
  font-weight: bolder;
}
@media screen and (max-width: 1023px){
  .hero-cards {
    text-align: center;
    margin: auto;
  }
  .hero-title {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
  }
}
@media screen and (max-width: 767px){
  .hero-cards {
    text-align: start;
    margin: auto;
  }
  .hero-title {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    
  }
}
@media screen and (max-width: 480px){
  .hero-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 380px)  {
    .hero-title {
    font-size: 1.2rem;
    padding-top: 50px;
  }
}
.hero-desc {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #777;
}
@media screen and (max-width: 1023px){
  .hero-desc {
    text-align: center;
  }
  .hero-desc {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px){
  .hero-desc {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px){
  .hero-desc {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 380px) {
   .hero-desc {
    font-size: .9rem;
  }
}
.hero-image {
  text-align: center;
}
@media screen and (max-width: 991px){
  .hero-image {
    display: none;
  }
}
.hero-image img {
  width: 600px;
  max-width: 100%;
  animation: up-down 5s linear infinite;
  -webkit-animation: up-down 2s ease-in-out infinite forwards alternate;
}
@keyframes up-down {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  100% {
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
  }
}
.arrow-down {
  position: absolute;
  content: " ";
  color: var(--main-color);
  font-size: 2rem;
  left: 50%;
  bottom: 30px;
  z-index: 1;
  transform: translateX(-50%);
  animation: up-down-arrow 1s ease-in-out infinite normal running ;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media screen and (max-width: 1023px) {
  .arrow-down {
    bottom: 0px;
  }
}
@media screen and (max-width: 480px) {
  .arrow-down {
    bottom: -30px;
  }
}
@keyframes up-down-arrow {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
  100% {
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
  }
}
/* end Hero */

/* start artcles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 20px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
.articles-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 30px 0;
}
.articles-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.185);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
  -webkit-transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
  -moz-transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
  -ms-transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
  -o-transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
}
.articles-image {
  width: 100%;
}
.articles-image img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content {
  padding: 15px;
}
.card-title {
  text-transform: capitalize;
}
.card-desc {
  color: #777;
  line-height: 1.5;
  padding: 10px 0;
}
.read-more-btn {
  width: 100%;
  height: 100%;
  padding: 20px; 
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
hr {
  border: .3px solid rgba(0, 0, 0, 0.074);
}
.read-more-btn a {
  color: var(--main-color);
  font-weight: bolder;
}
.arrow-to-right {
  color: var(--main-color);
}
.articles-card:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.185);
  transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -o-transform: translateY(-5%);
}
.articles-card:hover .arrow-to-right {
  animation: move-right 1.5s ease-in-out infinite  forwards;
  -webkit-animation: move-right 1.5s ease-in-out infinite  forwards;
}
@keyframes move-right {
  0% {
    padding: 0 10px;
}
  100% {
    padding: 0 0;
  }
}
/* end artcles start gallery */
.gallery {
   padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.gallery-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery-card{
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery-image {
  position: relative;
  overflow: hidden;
}
.gallery-image::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery-image:hover::before {
  animation: flashing 0.7s;
  -webkit-animation: flashing 0.7s;
}
.gallery-image img {
  max-width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.gallery-image img:hover {
  transform: rotate(5deg) scale(1.1);
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* end gallery */
/* start features */
.features {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: var(--main-padding-top) 0;
}
.features-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features-image img {
  max-width: 100%;
}
.features-card {
  border: 1px solid rgba(0, 0, 0, 0.256);
}
.features-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.features-image::before {
  position: absolute;
  content: " ";
}
.features-image::after {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
  background-color: white;
  z-index: 1;
  transform: skewY(-15deg);
  -webkit-transform: skewY(-15deg);
  -moz-transform: skewY(-15deg);
  -ms-transform: skewY(-15deg);
  -o-transform: skewY(-15deg);
  transform-origin: bottom right;
}
.features-card:hover .features-image::after {
  transform: skewY(15deg);
  -webkit-transform: skewY(15deg);
  -moz-transform: skewY(15deg);
  -ms-transform: skewY(15deg);
  -o-transform: skewY(15deg);
  transform-origin: bottom left;
} 
.features .content {
  background-color: #fff;
  padding: 80px 30px 30px 30px  ;
  text-align: center;
}
.features-title {
  font-size: 25px;
  text-transform: capitalize;
  position: relative;
} 
.features-title h2 {
  padding-bottom: 5px;
}
.features-title .under-line {
  display: block;
  width: 80px;
  height: 5px;
  background-color: #000;
  margin: auto;
}
.features-title .under-line.red {
  background-color: red;
}
.features-title .under-line.green {
  background-color: green;
}
.features-title .under-line.blue {
  background-color: blue;
}
.features-desc {
  padding: 30px 0;
  font-size: 1.3rem;
  line-height: 2;
  color: #777;
}
.features-btn .btn {
  position: relative;
  background-color: white;
  text-transform: capitalize;
  font-size: 22px;
  padding: 10px 30px;
  outline: none;
  border: 3px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bolder;
  z-index: 1;
  cursor: pointer;
}
.features-btn .btn::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: 2;
}
.features-btn .btn a {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features-card:hover .btn.red::before {
  width: 100%;
  background-color: red;
  z-index: -1;
} 
.features-card:hover .btn.green::before {
  width: 100%;
  background-color: green;
  z-index: -1;
} 
.features-card:hover .btn.blue::before {
  width: 100%;
  background-color: blue;
  z-index: -1;
}
.features-card:hover .btn.red a {
  color: white;
}
.features-card:hover .btn.green a {
  color: white;
}
.features-card:hover .btn.blue a {
  color: white;
}
.features-btn .btn.red {
  border: 3px solid red;
}
.features-btn .btn.red a {
  color: red;
}
.features-btn .btn.green{
  border: 3px solid green;
}
.features-btn .btn.green a {
  color: green;
}
.features-btn .btn.blue{
  border: 3px solid blue;
}
.features-btn .btn.blue a {
  color: blue;
}
/* end features */
/* start testimonials */
.testimonials {
  background-color: var(--section-background);
  padding: 100px 0;
}
.testimonials-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 30px;
}
.testimonials-card {
  position: relative;
  background-color: #fff;
  padding: 20px;
}
.testimonials-card img {
  width: 25%;
  position: absolute;
  top: -50px;
  right: -20px;
  padding: 10px;
  background-color: #ececec;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media screen and (max-width: 380px) {
  .testimonials-card img {
    right: 0px;
  }
}
.testimonials-card h3 {
  color: #000;
  text-transform: capitalize;
}
.testimonials-card .title {
  text-transform: capitalize;
  color: #777;
  padding: 10px 0;
  display: block;
}
.testimonials-card p {
  font-size: 17px;
  color: #777;
  line-height: 1.5;
  margin-bottom: 10px;
}
.rate {
  padding-bottom:10px ;
}
.rate i {
  color: #000;
}
.rate i.filled {
  color: orange;
}
/* end testimonials */
/* start team members */
.team-members {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: var(--main-padding-top) 0;
}
.team-members-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
  gap: 50px;
}
.team-members-card {
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 1;
}
/* @media screen and (max-width: 991px) {
  .team-members-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .team-members-card {
    margin-left: 50px;
  }
} */

.team-members-card::before {
  position: absolute;
  content: " ";
  top: 0%;
  right: 0%;
  width: 85%;
  height: 100%;
  background-color: #f3f3f3;
  z-index: -2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.team-members-card::after {
  position: absolute;
  content: " ";
  top: 0%;
  right: 0%;
  width: 0%;
  height: 100%;
  background-color: #cac8c8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: -3;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team-members-card:hover::after { 
  width: 85%;
}
.team-members-card:hover.team-members-card .info h3 {
  color: #cac8c8;
  color: rgb(112, 111, 111);
}
.team-members-card .data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  margin-right: 0px;
}
.team-members-card .data img {
  /* max-width: 100%; */
  width: 80%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* margin-left: -50px; */
  transition: var(--main-transition);
  /*z-index: -2;*/;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team-members-card .data .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.team-members-card .data .social i {
  color: #777;
  padding: 15px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team-members-card .data .social i:hover {
  color: var(--main-color);
}
.team-members-card .info {
  padding: 30px 70px;
}
@media screen and (max-width: 768px) {
  .team-members-card .info {
    padding: 30px 120px;
  }
}
@media screen and (max-width: 480px) {
  .team-members-card .info {
    padding: 30px 90px;
  }
}
@media screen and (max-width: 380px) {
  .team-members-card .info {
    padding: 30px 60px;
  }
}
.team-members-card .info h3 {
  text-transform: capitalize;
  color: var(--main-color-alt);
  padding-bottom: 10px;
  font-size: 1.5rem;
}
/* end team members */
/* start services */
.services {
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  padding: var(--main-padding-top) 0;
}
.services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.services-card {
  background-color: #fff;
  text-align: center;
  padding: 50px;
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: transform var(--main-transition) ease-in-out, box-shadow var(--main-transition) ease-in-out;
  -webkit-transition: transform var(--main-transition) ease-in-out, box-shadow var(--main-transition) ease-in-out;
  -moz-transition: transform var(--main-transition) ease-in-out, box-shadow var(--main-transition) ease-in-out;
  -ms-transition: transform var(--main-transition) ease-in-out, box-shadow var(--main-transition) ease-in-out;
  -o-transition: transform var(--main-transition) ease-in-out, box-shadow var(--main-transition) ease-in-out;
}
.services-card:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.185);
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -o-transform: translateY(-5%);
}
.services-card::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.services-card:hover::before {
  width: 100%;
}
.services-card i {
  color: #d5d5d5;
}
.services-card h3 {
  text-transform: capitalize;
  color: var(--main-color);
  font-size: 1.7rem;
  padding: 20px 0 40px 0;
  font-weight: bold;
}
.services-card .info {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services-card .info span {
  position: relative;
  display: inline-block;
  background-color: #1787e0;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  font-weight: bolder;
}
.services-card .info span::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 100%;
  width: 50px;
  height: 50px;
  background-color: #d5d5d5;
  transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  transform-origin: top left;
}
.services-card .info a {
  text-transform: capitalize;
  color: var(--main-color-alt);
  font-size: 1.1rem;
  padding-right: 20px;
}
/* end services */
/* start our skills */
.our-skills {
  width: 100%;
  height: 100%;
  padding: var(--main-padding-top) 0;
}
.our-skills-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  /* grid-template-columns: repeat(2,1fr); */
  gap: 30px;
}
.our-skills-left img {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .our-skills-cards {
   display: flex;
   flex-direction: column;
  }
  .our-skills-left img {
   display: none;
  }
}
.our-skills-right {
  position: relative;
  /* background-color: #1787e0; */
  display: flex;
  flex-direction: column;
}
.our-skills-right-cards {
  position: relative;
  /* background-color: #777; */
  padding: 20px 0;
}
.our-skills-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.our-skills-card-content p {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--main-color);
}
.our-skills-card-range {
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.our-skills-card-range .range {
  height: 30px;
  background-color: var(--main-color);
  margin-top: 10px;
  transition: width 0.3s linear;
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  -ms-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
}
/* end our skills */
/* start work steps */
.work-steps {
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  padding: var(--main-padding-top) 0 ;
}
.work-steps-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.work-steps-card.left {
  width: 45%;
}
.work-steps-card.right {
  width: 55%;
}
.work-steps-card-image {
  margin-right: 100px;
}
.work-steps-card-image img {
  max-width: 100%;
}
.work-steps-box {
  background-color: #f6f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0 ;
  border: 2px solid white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
  z-index: 1;
}
.work-steps-box:first-child {
  margin-top: 0;
}
.work-steps-box img {
  width: 15%;
  margin-right: 30px;
}
.work-steps-card-content p {
  color: #999;
  padding: 10px 0;
  line-height: 1.5;
  font-size: 1.2rem;
}
.work-steps-box::before  {
  position: absolute;
  content: " ";
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 0;
  width: 0%;
  height: 0%;
  background-color: #ededed;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}
.work-steps-box:hover::before {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .work-steps-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .work-steps-card.left {
    width: 100%;
  }
  .work-steps-card.right {
    width: 100%;
  }
  .work-steps-card-image {
    margin-right: 100px;
    margin-right: 0;
  }
  .work-steps-card-image img {
    max-width: 100%;
  }
  .work-steps-card-image img {
    display: none;
  }
  .work-steps-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .work-steps-box img {
    margin-right: 0px;
    padding-bottom: 10px;
  }
}
/* end work steps */
/* start events */
.events {
  width: 100%;
  height: 100%;
  padding: var(--main-padding-top) 0;
  background-color: white;
  position: relative;
}
.dots-top, .dots-bottom {
  position: absolute;
  content: " ";
}
.dots-top {
  top: 15%;
  right: 0;
}
.dots-bottom {
  bottom: 15%;
  left: 0;
}
.events-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px , 1fr));
  gap: 10px;
}
.events-cards img {
  width: 90%;
}
.events-card {
  text-align: center;
  position: relative;
  z-index: 1;
}
.events-card .title {
  padding: 30px 0 10px 0;
  font-size: 1.5rem;
}
.events-card .description {
  line-height: 1.5;
  font-size: 1.1rem;
  color: #999;
}
.events-card .time {
  width: 60%;
  margin: 150px auto 0;
  padding: 10px;
  /* background-color: #2196f3; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.events-card .time .unit {
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0 10px;
}
.events-card .time .days,
.events-card .time .hours,
.events-card .time .minutes,
.events-card .time .seconds {
  padding: 15px;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--main-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);
} 
.events-card .time .unit span {
  display: block;
}
.events-card .time .unit span:last-child {
  text-transform: capitalize;
 padding: 10px;
}
.subscribe {
  width: 100%;
  margin-top: 50px;
}
.subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .subscribe form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
}
.subscribe form input[type="email"]:focus::placeholder {
  visibility: hidden;
  transition:visibility 0.2s ease-in-out ;
  -webkit-transition:visibility 0.2s ease-in-out ;
  -moz-transition:visibility 0.2s ease-in-out ;
  -ms-transition:visibility 0.2s ease-in-out ;
  -o-transition:visibility 0.2s ease-in-out ;
}
.subscribe form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
/* end events */
/* start pricing */
.pricing {
  width: 100%;
  height: 100%;
  padding: var(--main-padding-top) 0;
  background-color: var(--section-background);
  position: relative;
}
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
}
.pricing-card {
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background: white;
  text-align: center;
  z-index: 1;
}
.pricing-card.popular {
  margin-top: -30px;
  margin-bottom: 30px;
}
.pricing-card::before,
.pricing-card::after {
  position: absolute;
  content: " ";
  width: 0%;
  height: 50%;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.pricing-card::before {
  top: 0;
  left: 0;
  width: 0;
}
.pricing-card::after {
  bottom: 0;
  right: 0;
  width: 0;
}
.pricing-card:hover:before,
.pricing-card:hover:after {
  width: 100%;
  height: 50%;
}
.pricing-card .title {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
.pricing-card img {
  width: 25%;
  padding: 30px 0;
}
.pricing-card .price span {
  display: block;
}
.pricing-card .price span.amount {
  font-size: 4rem;
  color: var(--main-color);
  font-weight: bold;
  padding-bottom: 5px;
}
.pricing-card .price span.time {
  text-transform: capitalize;
  color: #777;
}
.pricing-card ul {
  padding: 30px 0;
  text-align: start;
  position: relative;
}
.pricing-card ul li {
  border-bottom: 1px solid #eee;
  padding: 20px 30px ;
  font-size: 17px;
  color: #000;
}
.pricing-card ul li:first-child {
  border-top: 1px solid #eee;
}
.pricing-card ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.pricing .btn {
  margin-bottom: 30px;
  padding: 15px 20px;
  outline: none;
  border: 2px solid var(--main-color);
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.pricing .btn:hover {
  background-color: var(--main-color);
}
.pricing .btn a {
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: bolder;
}
.pricing .btn:hover a {
  color: white;
}
/* end pricing */

.videos {
  width: 100%;
  height: 100%;
  padding: var(--main-padding-top) 0;
  background-color: white;
  position: relative;
}
.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd
}
@media screen and (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}
.holder .list {
  min-width: 300px;
  background-color: white;
}
.holder .list .name {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  text-transform: capitalize;
}
.holder .list .name p {
  font-size: 1.1rem;
  font-weight: bolder;
}
.holder .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.holder .list ul li {
  padding: 20px;
  border-top: 1px solid var(--section-background);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  cursor: pointer;
}
.holder .list ul li .link {
  color: black;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.holder .list ul li span {
  display: block;
  padding-top: 10px;
  color: #777;
}
.holder .list ul li:hover {
  background-color: rgba(238, 238, 238, 0.501);
}
.holder .list ul li:hover .link {
  color: var(--main-color);
}
.preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.preview img {
  width: 100%;
}
.preview .info {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}

/* start stats */
.stats {
  width: 100%;
  height: 100%;
  position: relative;
}
.stats::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(241, 144, 144);
  background-image: url("../imgs/stats.jpg");
  background-size: cover; 
  z-index: -2;
}
.stats::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.348);
  background-color: rgba(255, 255, 255, 0.94);
  z-index: -1;
}
.stats-content {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.stats-content h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.stats-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats-card {
  position: relative;
  margin-top: 50px;
  padding: 30px 15px;
  text-align: center;
  background-color: white;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.stats-card::before, 
.stats-card::after {
  position: absolute;
  content: " ";
  width: 2px;
  background-color: var(--main-color);
  transition:height .6s;
  -webkit-transition:height .6s;
  -moz-transition:height .6s;
  -ms-transition:height .6s;
  -o-transition:height .6s;
}
.stats-card::before {
  left: 0;
  bottom: 0;
  height: 0%;
}
.stats-card::after {
  top: 0;
  right: 0;
  height: 0%;
}
.stats-card:hover:before, 
.stats-card:hover:after  {
  height: 100%;
}
.stats-card .numbers {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats-card .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold
}
.stats-card span {
  display: block;
}
/* end stats */